body{
    background-color: #ffeee0;
    margin:0;
    height: 10000px;
}

/* Navigasi Bar */
.Avatar {
    height: auto;
    width: 50px;
    margin: 0 auto;
    border: 5px solid orange;
    transition: border-radius 0.5s ease;
    border-radius: 50%;
}

.Profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Profile h3{
  font-style: bold;
  font-family: "Segoe UI", sans-serif;
  background-color: rgb(255, 222, 144);
  padding: 10px;
  width: 80%;
  border-radius: 10px;
}

.Daftar {
  list-style-type: none; 
  padding: 0.05rem 5rem; 
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: "Segoe UI", sans-serif;
  color: #191919;
  font-weight: 650;
}

.Daftar a{
  text-decoration: none;
  padding: 8px;
  width: 90%;
  border-radius: 5px;
}

.Daftar a:hover{
  border: 2px solid rgb(0, 157, 255);
  border-radius: 20px;
  color: rgb(0, 157, 255); /* Warna teks berubah menjadi biru */
  text-shadow: 0 0 10px rgb(183, 227, 255); /* Menambahkan efek glow/menyala */
  cursor: pointer; /* Mengubah kursor menjadi penunjuk tangan */
}

.Navbar {
  background-color: white;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 50px;
}
/* Akhir dari Navigasi Bar */

/* Judul Website */
.Judul {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 90px;
  background-color: white;
  width: 1100px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
              0 8px 16px rgba(0, 0, 0, 0.2),
              0 16px 32px rgba(0, 0, 0, 0.2);
}

.Square_Bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 1.5px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  width: 1100px;
  height: 9500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                0 8px 16px rgba(0, 0, 0, 0.2),
                0 16px 32px rgba(0, 0, 0, 0.2);
}

/* Bagian Audio_1 */
.Judul_Lagu_1{
  position: absolute;
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 650;
  width: auto;
  top: 170px;
  left: 290px;
}

.Main_Featured_Artist_1{
  position: absolute;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  font-weight: 500;
  width: auto;
  top: 200px;
  left: 290px;
}

.Cover_Mangu{
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.Cover_Mangu img{
  width: 130px;
  height: 130px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  left: 140px;
  border: 2px solid orange;
  border-radius: 10px;
}

.Card_1{
  position: relative;
  padding-top: 150px;
  padding-left: 120px;
}

.Square_1{
  width: 500px;
  height: 150px;
  border: 1.5px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  box-shadow: 0 0 5px #ffcd7e,
              0 0 15px #ffcd7e,
              0 0 30px #ffcd7e;
}

.Button_Situs1{
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 250px;
  left: 290px;
  background-color: white;
  width: 310px;
  height: 40px;
  border: 1.5px solid orange;
  border-radius: 20px;
  transition: 0.1s;
}

.Button_Situs1:active{
  transform: translateY(4px);
}

.Button_Situs1:hover{
  cursor: pointer;
  box-shadow: 0 0 5px #ffcd7e,
              0 0 15px #ffcd7e,
              0 0 30px #ffcd7e;
}

/* Akhir Audio_1 */

/* Bagian Audio_2 */
.Judul_Lagu_2{
  position: absolute;
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 5px;
  width: 500px;
  top: 50px;
  left: 300px;
}

.MP3_2{
  position: absolute;
  top: 360px;
  left: 820px;
}

.Card_2{
  position: relative;
  padding-top: 20px;
  padding-left: 125px;
}

.Square_2{
  width: 1020px;
  height: 90px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  box-shadow: 0 0 5px #ffcd7e,
              0 0 15px #ffcd7e,
              0 0 30px #ffcd7e;
}
/* Akhir Audio_2 */